<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Moji udzbenici</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button size="small" style="--box-shadow: none" (click)="openAddForm()">
        <ion-icon name="add" size="big"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-my-book *ngFor="let book of books" [book]="book"></app-my-book>
  </ion-list>
</ion-content>
