<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" default-href="start"></ion-back-button>
    <ion-title>Prijava</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="logInForm" (ngSubmit)="onLogin()">
    <ion-grid>

      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6">
          <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Unesite vaš email" type="email" formControlName = "email"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3" style="padding: 0" >
          <p *ngIf="logInForm.get('email').invalid && logInForm.get('email').touched" style="margin-top: 0; font-size: x-small; margin-left: 10px; color: red" >Email adresa nije validna.</p>
        </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6">
          <ion-input label="Lozinka" label-placement="floating" fill="outline" placeholder="Unesite vašu lozinku" type="password" formControlName = "password"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3" style="padding: 0">
          <p *ngIf="logInForm.get('password').invalid && logInForm.get('password').touched" style="margin-top: 0; font-size: x-small; margin-left: 10px; color: red" >Lozinka mora sadržati najmanje 8 karaktera.</p>
        </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-center" style="margin-top: 10px">
        <ion-col size-sm="6">
          <ion-button type="submit" fill="outline" expand="block" [disabled]="logInForm.invalid">
            Prijava
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-content>
