<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center">Dobrodošli</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center" style="margin-top: 50px">
      <ion-col size-sm="8">
        <ion-button fill="outline" expand="block" routerLink="/log-in">
          Prijava
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="8">
        <ion-button fill="solid" expand="block">
          Registracija
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
